@tailwind base;
@tailwind components;
@tailwind utilities;

#repoCard:hover {
  margin-top: -4px !important;
  transition: 0.2s;
  cursor: pointer;
}
#courseCard:hover {
  margin-top: -4px !important;
  transition: 0.2s;
  cursor: pointer;
}

.text-dark {
  color: #343a40 !important;
}
